@charset "UTF-8";

:root {
    --text:#F2F2F2;
    --bag:#034AA6;
    --hov:#035AA6;
    --hef:#010440;
    --cx:#03178C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8;
}

header, footer{
    background-color: var(--hef);
}

main {
    background-color: var(--bag);
}

section#princ {
  padding: 4rem 1rem;
  display: flex;
  justify-content: center;

}