@charset "UTF-8";

:root {
    --text:#F2F2F2;
    --bag:#034AA6;
    --hov:#035AA6;
    --hef:#010440;
    --cx:#03178C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8;
}

header, footer{
    background-color: var(--hef);
    height: 50px;
    
}

header {
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

header a {
    color: var(--text);
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 5px;
    transition: background-color .5s, color .5s;
    
}

header a:hover {
    background-color: var(--text);
    color: var(--hef);
}


main {
    background-color: var(--bag);
}

h2.principaltxt {
    color: var(--text);
}

p.sectxt {
    color: var(--hef);
}

section#princ {
  padding: 4rem 1rem;
  text-align: center;
}

section#caixas {
    cursor: pointer;
    display: grid;
    gap: 10px;
    text-align: center;
    grid-template-columns: auto 90vw auto;
    margin: 5px;
    
}

.trab {
    background-color: var(--hef);
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.322);
    grid-column: 2;
    
}

.trab h3 {
    padding: 5px 0px;
    color: var(--text);
}

.trab p {
    color: var(--text);
    text-align: inherit;
    font-size: 1em;
    padding: 5px 10px;
}

section#orca {
    background-color: #ffffff75;
    grid-column: 2;
    color: var(--hef);
    margin-top: 100px ;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.432);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 15px auto 15px;
}

section#orca div.frs {
    text-align: center;
    color: var(--cx);
    grid-column: 2;
    padding: 10px 0 20px 0;
}

section#orca div.pq {
    text-align: start;
    grid-column: 2;
}

section#orca div.pq p.subt {
    color: var(--bag);
}

section#orca div.pq h2 {
    padding-left: 5px;
}

section#orca div.pq h2 span {
    color: var(--text);
}

section#orca div.pq p.obs {
    text-align: justify;
    padding: 10px;
}

section#obss {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

section#obss div.cust {
    background: linear-gradient(135deg, #010440, #03178c);
    padding: 12px 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    border-radius: 10px; 
    display: inline-block;
    box-shadow: 0 4px 10px rgba(0,0,0,0.35);
    transition: 0.3s ease;
}

div.cust a{
    color: var(--text);
    text-decoration: none;
    padding: 12px 20px;
    text-transform: uppercase;
    font-weight: 600;
    
}

div.cust:hover {
    background: linear-gradient(135deg, #03178C, #034AA6);
    transform: translateY(-2px);
    
}

footer {
  
  text-align: center;
  padding: 15px 10px;
}

footer p {
    color: var(--text);
  font-size: 0.9rem;
  opacity: 0.85;
}


