@charset "UTF-8";

:root {
    --text:#F2F2F2;
    --bag:#034AA6;
    --hov:#035AA6;
    --hef:#010440;
    --cx:#03178C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8;
}

header, footer{
    background-color: var(--hef);
    height: 50px;
    width: 100vw;
}

header {
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

header a {
    color: var(--text);
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 5px;
    transition: background-color .5s, color .5s;
    
    
}

header a:hover {
    background-color: var(--text);
    color: var(--hef);
}


main {
    background-color: var(--bag);
}

h2.principaltxt {
    color: var(--text);
}

p.sectxt {
    color: var(--hef);
}

section#princ {
  padding: 4rem 1rem;
  text-align: center;
}

section#caixas {
    cursor: pointer;
    display: grid;
    gap: 10px;
    text-align: center;
    grid-template-columns: auto 90vw auto;
    margin: 5px;
    
}

.trab {
    background-color: var(--hef);
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.322);
    grid-column: 2;
}

.trab h3 {
    padding: 5px 0px;
    color: var(--text);
}

.trab p {
    color: var(--text);
    text-align: inherit;
    font-size: 1em;
    padding: 5px 10px;
}

